:root {
  --primary: #00a028;
  color: var(--primary);
  height: max-content;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  display: flex;
  flex-direction: column;
}
select {
  width: 15em;
  height: 3em;
  background-color: white;
  border-bottom: 1px solid rgb(231, 231, 231);
  color: var(--primary);
}

/* Search Trees Components */

.drop-down-search{
    display: flex;
    flex-direction: column;
}

.search-container {
  width: 15em;
  height: 3em;
  position: relative;
  border-bottom: 1px solid rgb(231, 231, 231);
  

}

#tree-input{
    outline: none;
    border: none;
    width: 12.5em;
    height: 3em;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.search-svg{
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.8);
}

#suggestions{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-height: 0;
    overflow: hidden;
}

#suggestions.open{
    max-height: fit-content;
}

.suggestion-items{
    height: 3em;
    border-bottom: 1px solid rgb(236, 236, 236);
    background-color: white;
}

/*  */

.question {
  display: flex;
  flex-direction: column;
}

#bounty {
  border-bottom: 1px solid rgb(231, 231, 231);
  width: 15em;
  height: 3em;
  outline: none;
}

.submit-btn {
  background-color: white;

  font-size: large;

  text-transform: uppercase;
  color: var(--primary);
  font-weight: bold;
  padding: 7px 15px;
  border-radius: 5px;

  outline: none;
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  padding-bottom: 7vh;
  height: 70vh;

  gap: 1em;
}

.title {
  font-size: xx-large;
  font-weight: 900;
  margin-left: 1rem;
}
