:root {
  --primary: #00a028;
  color: var(--primary);
  height: max-content;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  display: flex;
  flex-direction: column;
}
select {
  width: 15em;
  height: 3em;
  background-color: white;
  border-bottom: 1px solid rgb(231, 231, 231);
  color: var(--primary);
}

/* Search Trees Components */

.drop-down-search{
    display: flex;
    flex-direction: column;
}

.search-container {
  width: 15em;
  height: 3em;
  position: relative;
  border-bottom: 1px solid rgb(231, 231, 231);
  

}

#tree-input{
    outline: none;
    border: none;
    width: 12.5em;
    height: 3em;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.search-svg{
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.8);
}

#suggestions{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: scroll;
    

}

.tree-result-container{
    display: flex;
    flex-direction: row;
}



.suggestion-items{
    height: 3em;
    opacity: 0;
    pointer-events: none;
}

#suggestions.open .suggestion-items{
    opacity: 1;
    pointer-events: all;
}

li{
    list-style-type: none;
    display: flex;
    
    transition: all 500ms cubic-bezier();
    border-bottom: 1px solid rgb(228, 228, 228) ;
    height: 3em;
    padding-left: 0.5rem;
    text-overflow: clip;
}


li:hover{
    background-color: rgb(196, 196, 196);
}

span{
  display: flex;
}

span, .tree-minimum-price{
  color: rgb(71, 71, 71);
}


/*  */

/* Result Styling */
img{
    height: 100%;
    width: 30%;
    object-fit: cover;
    padding: 0.3rem;
}

.no-results{
  display: flex;
  height: 100%;
  width: 100%;
  
  display: grid;
  place-items: center;

}

/*  */

.question {
  display: flex;
  flex-direction: column;
}

#bounty {
  border-bottom: 1px solid rgb(231, 231, 231);
  width: 15em;
  height: 3em;
  outline: none;
}

.submit-btn {
  background-color: white;

  font-size: large;

  text-transform: uppercase;
  color: var(--primary);
  font-weight: bold;
  padding: 7px 15px;
  border-radius: 5px;

  outline: none;
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  padding-bottom: 7vh;
  height: 70vh;

  gap: 1em;
}

.title {
  font-size: xx-large;
  font-weight: 900;
  margin-left: 1rem;
}
