*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
 --primary: #00a028;
 --secondary: #000000;
 --grey: #202d21;
  
}

.nav-container {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  color: lightgrey;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 11vh;
  z-index: 1;
}

.btn-container {
  margin: 5px;
  width: 4em;
  display: flex;
  flex-direction: column;
}

svg {
  fill: var(--primary);
  align-self: center;
}

.label {
  color: var(--primary);
  font-size: small;
  text-align: center;
}

.top-container {
  position: fixed;
  top: 0;
  width: 100vw;
  color: var(--primary);
  background-color: white;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); */
  border-bottom: 1px solid grey;
  height: 7vh;
  z-index: 1;
}


.gif{
    position: absolute;
    top: -1;
    left: 0;
}

.nav-title{
    margin-left: 3em !important;
}