* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary: #00a028;
  --secondary: #e7e7e7;
  --grey: #202d21;
}

.nav-container {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  color: lightgrey;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 11vh;
  z-index: 1;
}

.btn-container {
  margin: 5px;
  width: 4em;
  display: flex;
  flex-direction: column;
}

.active-nav-menu {
  background-color: var(--secondary);
  border-radius: 7px;
}

.active-nav-menu svg {
  fill: #1fbe47;
}

.active-nav-menu .label {
  color: #1fbe47;
}

svg {
  fill: black;
  align-self: center;
}

.label {
  color: black;
  font-size: small;
  text-align: center;
}

.top-container {
  position: fixed;
  top: 0;
  width: 100vw;
  color: var(--primary);
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  height: 8vh;
  z-index: 1;
}

.gif {
  position: absolute;
  top: -1;
  left: 1;
}

.nav-title {
  margin-left: 3.5em !important;
}
