*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
 --primary: #629d71;
 --secondary: #000000;
 --grey: #202d21;
  
}

.nav-container{
    
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    color: lightgrey;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 10px 5px white;
    height: 9vh;
    
    
}

.btn-container{
    margin: 5px;
    width: 4em;
    position: relative;
}




svg{
    fill: var(--primary);
    margin: 3px ;
}

.title{
    color: #202d21;
    font-size:small
}


.btn-container:hover{
    transform: scale(1.2);
    
}

.hover-card{
    
    color: white;
    position: absolute;
    top: 1;
    left: 0;
    right: 0;
    text-align: center;
        
}
